html,
body{
    margin:auto;
    width: 80%;
    height: 80%;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.head{
    width: 100%;
    height: 40%;
    padding: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50;
    background-image: url("carhead.jpg");
}
textarea{
    width: 600px;
    height: 300px;
}